<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./head.ejs %>
</head>

<body>

  <!--Navigation-->
  <% include ./navbar.ejs %>

  <!--About Page-->

  <main class="jumbotron">
    <section class="text-center">
      <h2 class="display-4 my-4">About Us</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, neque. Illo deleniti
        iste
        fuga
        explicabo et possimus dignissimos quidem voluptas id eaque. Libero sunt veritatis repellat, possimus minima
        nemo dicta?</p>
    </section>
  </main>


  <!--Scripts-->
  <% include ./baseScripts.ejs %>
</body>

</html>