<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <h1>
      <%= advertisement.title %>
    </h1>
    <a href="/advertisements/<%= advertisement.id %>/edit" class="btn btn-warning">Edit</a>
    <form action="/advertisements/<%= advertisement.id %>/destroy" method="post" style="display:initial">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    <p>
      <%= advertisement.description %>
    </p>
  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>